@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat&family=Open+Sans&display=swap");
h1 {
	font-size: 2em;
}

h1,h2,h3,h4,h5 {
	font-family: "Lobster Two", cursive;
	letter-spacing: 1px;
}

a, h6 {
	font-family: "Montserrat", sans-serif;
}

body {
	font-family: "Open Sans", sans-serif;
}

.btn-color {
	background-color: #61a5a0;
	color: #f8f9fa;
}

.btn-more {
	background-color: transparent;
	color: #61a5a0;
	border: 2px solid #61a5a0;
}

/* Gradient transparent-color [https://css-tricks.com/examples/hrs/] */
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient( to right, rgba(0, 0, 0, 0), #f8f9fa, rgba(0, 0, 0, 0));
}

img.on-inview {
	width: 100%;
	height: 300px;
	object-fit: cover;
	padding: 10px;
}

.slick-prev:before, .slick-next:before {
	color: #383b3f;
}

.color_text {
	color: #383b3f;
}

/* -------------------------------- spinner [https://codepen.io/tbrownvisuals/pen/ZpXEZw] */
.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
	background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
  }
  
  .loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 150ms infinite linear;
	-moz-animation: spinner 150ms infinite linear;
	-ms-animation: spinner 150ms infinite linear;
	-o-animation: spinner 150ms infinite linear;
	animation: spinner 150ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  @-webkit-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-moz-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-o-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }


/* --------------------------------------------------------------- header */
.user-logged {
	background-color: rgba(97, 165, 160, 0.7);
}

.user-logged a {
	color: #2e4e4c;
}

.user-logged a:hover {
	color: #FFF;
	text-decoration: none;
}

.logo {
	max-width: 90px;
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-bottom: 8px
}

.my-cookbook-logo {
	color: #f2c277 !important;
	text-transform: uppercase;
	font-size: 18px;
}

.my-cookbook-logo a:hover {
	color: #f2c277;
}

/* --------------------------------------------------------------- footer */
.footer {
	background-color: #56928d;
	color: #fff;
	height: 30px;
	padding-top: 5px;
	margin: 0px;
}

/* --------------------------------------------------------------- index */
.own-cookbook {
	background-color: rgba(97, 165, 160, 0.7);
}

.own-cookbook h2 {
	color: #f8f9fa;
}

/* ----------------------------------------------------------- all-recipes */
.center-text {
	text-align: center;
}

.filter {
	position: relative;
	height: 430px;
}

.img-hero {
	position: absolute;
	height: 400px;
	width: 100%;
	background-image: url(../img/cooking.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px;
}

section.recipes-cards {
	margin-bottom: 50px;
}

section.recipes-cards img.users-image {
	object-fit: cover;
	height: 202px;
}

section.recipes-cards .card-body p.small{
	color: #2f4e4c;
}

.results {
	display: none;
}

.card-custom .card-body {
	background-color: #cdd1d5;
}

.card-custom a {
	color: #17a2b8;
}

.body-login-register {
	background-color: #dcdcdc;
	height: 100vh;
}

/* ------------------------------------------------------- Recipe-Details */
.img-recipe {
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.recipe-info {
	width: 100%;
	display: block;
	background: #60a59f;
	height: 40px;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
}

.recipe-info i {
	font-size: 1.625rem;
}

.diets {
	margin-top: 60px;
	height: 340px;
	background-color: #f2c277;
	padding: 20px;
}

.diets h3 {
	font-size: 1.25em;
}

.wine-img {
	margin: 0 auto;
	display: block;
}

.instruction ol {
	list-style: none;
	counter-reset: item;
	padding-inline-start: 5px;
}

.instruction li {
	counter-increment: item;
	margin-bottom: 10px;
}

.instruction li:before {
	margin-right: 10px;
	content: counter(item);
	background: #60a59f;
	border-radius: 100%;
	width: 1.5em;
	color: white;
	text-align: center;
	display: inline-block;
}

.ingredient,.equipment,.instruction,.wine-pairing {
	margin-top: 60px;
}

.ingredient hr,.equipment hr,.instruction hr,.wine-pairing hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient( to right, rgba(0, 0, 0, 0), #212529, rgba(0, 0, 0, 0));
}

/* ------------------------------------------------------- User-Recipe-Details */
section.user-recipes .main-img {
	height: 340px;
	object-fit: cover;
}

.color-green {
	color: #60a59f;
}

/* ----------------------------------------------------------- edit-recipes */
.remove-img-btn {
	position: absolute;
	margin-left: -25px;
	margin-top: -20px;
	font-size: 40px;
	color: red;
	cursor: pointer;
}

.edit-image .img-thumbnail {
	max-width: 200px;
}

/* ------------------------------------------------------- my-Recipes */
section.my-recipes .card-deck img {
	object-fit: cover;
	height: 202px;
}

section.my-recipes .card-recipes .card-body {
	background-color: #61a5a0;
}

section.my-recipes .card-recipes .card-body a {
	color: #FFF;
	font-size: 14px;
}

section.my-recipes .card-foot {
	background-color: #90c0bc;
	padding: 10px;
	color: #2e4e4c;
}

section.my-recipes .card-foot a {
	color: #2e4e4c99;
	font-size: 14px;
}

.profile-card-1 {
	font-family: 'Open Sans', Arial, sans-serif;
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	color: #ffffff;
	text-align: center;
	height: 358px;
	border: none;
}

.profile-card-1 .background {
	width: 100%;
	vertical-align: top;
	opacity: 0.9;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	-webkit-transform: scale(1.8);
	transform: scale(2.8);
}

.profile-card-1 .card-content {
	width: 100%;
	padding: 15px 25px;
	position: absolute;
	left: 0;
	top: 50%;
}

.profile-card-1 .profile {
	border-radius: 50%;
	position: absolute;
	bottom: 50%;
	left: 50%;
	max-width: 100px;
	opacity: 1;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(255, 255, 255, 1);
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	background: #FFF;
}

.profile-card-1 h2 {
	margin: 0 0 5px;
	font-weight: 600;
	font-size: 25px;
}

.profile-card-1 h2 small {
	display: block;
	font-size: 15px;
	margin-top: 10px;
}

.profile-card-1 i {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	border: 1px solid #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	margin: 0 5px;
}

.profile-card-1 .icon-block {
	float: left;
	width: 100%;
	margin-top: 15px;
}

.profile-card-1 .icon-block a {
	text-decoration: none;
}

.profile-card-1 i:hover {
	background-color: #fff;
	color: #2E3434;
	text-decoration: none;
}

.card-recipes .card-deck {
	margin-top: 20px;
}

.card-recipes .card-body {
	background-color: #cdd1d5;
}

.card-recipes .card-body a {
	color: #17a2b8;
}

/* ------------------------------------------------------- sigh-In */
.form-container {
	max-width: 350px;
	margin: 0 auto;
	display: block;
}

.form-container button {
	width: 100%;
}

.close-icon-container {
	padding: 40px 0px;
	float: right;
}

.close-icon-container .close-icon {
	display: inline-block;
	height: 40px;
	width: 40px;
	cursor: pointer;
	stroke: #fff;
}

.close-button {
	height: 120px;
}

/* ----------------------------------------- overwrite bootstrap-select */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 100%;
}
/* ----------------------------------------- overwrite bootstrap */

.navbar-nav a {
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link.active {
	cursor: default;
	pointer-events: none;
}

.navbar-dark .navbar-nav .nav-link:focus{
	color: #FFF;
}

.navbar-dark .navbar-nav .nav-link {
	color:#2f4e4c;
}

.navbar-dark .navbar-nav .nav-link:hover {
	text-decoration: underline;
}


.recipe-form {
	width: 700px;
}

.custom-select {
	text-transform: capitalize;
}

.container-fluid {
	margin-left: 0px;
	padding-left: 0px;
}

.navbar-color {
	background-color: #61a5a0;
}

.navbar-light .navbar-brand {
	color: #f8f9fa;
}

.navbar-light .navbar-toggler {
	border: 2px solid #FFF;
}

.jumbotron {
	color: #FFF;
	position: relative;
	background-color: hsla(0, 0%, 0%, 0.39);
	background-position: center;
	display: block;
	margin: 0 auto;
	width: 80%;
}

i:before {
	vertical-align: middle;
}

.card-body {
	padding: 0.75rem;
}

/* -- https://codepen.io/cbracco/pen/qnduh -- */

/** Circle Styles **/

.circle {
	position: relative;
	display: block;
	margin: 2em 0;
	background-color: transparent;
	color: #222;
	text-align: center;
}

.circle:after {
	display: block;
	padding-bottom: 60%;
	width: 60%;
	height: 0;
	border-radius: 50%;
	background-color: #fff;
	content: "";
	margin: 0 auto;
	-webkit-box-shadow: 0 1px 5px rgba(8, 8, 8, 0.25);
	-moz-box-shadow: 0 1px 5px rgba(8, 8, 8, 0.25);
	box-shadow: 0 1px 5px rgba(8, 8, 8, 0.25);
}

.circle__inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.circle__wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

.circle__content {
	display: table-cell;
	padding: 1em;
	vertical-align: middle;
	font-family: "Montserrat", sans-serif;
}

@media (min-width: 480px) {
	.circle__content {
		font-size: 0.875rem;
	}
}

@media (min-width: 768px) {
	.circle__content {
		font-size: 1em;
	}
}
/* ------------------------- media queries */
/*mobile devices*/
@media (max-width: 734px) {
	.btn_add_recipes {
		width: 100%;
	}
	/*all-recipes*/
	.jumbotron {
		width: 100%;
		padding: 20px;
	}
	.img-hero {
		padding: 10px;
	}
	.img-hero p {
		margin-top: 10px;
		margin-bottom: 0;
	}
	.img-hero h2 {
		margin-bottom: 0 !important;
	}
	.img-hero .row {
		flex-flow: column;
	}
	.img-hero select.w-auto {
		width: 100% !important;
	}
	/*recipe-details*/
	.recipe-info {
		height: auto;
	}
	.diets {
		margin-top: 30px;
		height: auto;
	}
	/*add-recipes*/
	
	.recipe-form div.row {
		flex-flow: column;
	}
	.form-group {
		margin-top: 0px !important;
	}
	.form-group label {
		margin-bottom: 1rem;
	}
	div.row .ingredients {
		margin-top: 0px;
	}
	.instructions {
		margin-top: 20px;
		margin-left: 0px;
	}
	/*my-recipes*/
	.profile-card-1 {
		height: 230px;
	}
}

@media (max-width: 1023px) {
	/*all-recipes*/
	.jumbotron {
		width: 100%;
		padding: 20px;
	}
	.img-hero {
		padding: 10px;
	}
	.img-hero p {
		margin-top: 10px;
		margin-bottom: 0;
	}
	.img-hero h2 {
		margin-bottom: 0 !important;
	}
	.img-hero .row {
		flex-flow: column;
	}
	.img-hero select.w-auto {
		width: 100% !important;
	}
	/*my-recipes*/
	.profile-card-1 .background {
		transform: scale(4.0);
	}
}