@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat&family=Open+Sans&display=swap");

h1 {
  font-size: 2em;
}

h1,
h2,
h3 {
  font-family: "Lobster Two", cursive;
  letter-spacing: 1px;
}

h6 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}
.btn-color {
  background-color: #61a5a0;
  color: #f8f9fa;
}
/* Gradient transparent - color - transparent  - https://css-tricks.com/examples/hrs/*/
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #f8f9fa,
    rgba(0, 0, 0, 0)
  );
}
img.on-inview {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}
.slick-prev:before,
.slick-next:before {
  color: #383b3f;
}
/* --------------------------------------------------------------- index */
.own-cookbook {
  background-color: rgba(97, 165, 160, 0.7);
}
.own-cookbook h2 {
  color: #f8f9fa;
}
.title-padding {
  padding-left: 10px;
}

/* ----------------------------------------------------------- all-recipes */
.center-text {
  text-align: center;
}
.recipes {
  position: relative;
}
.img-hero {
  position: absolute;
  height: 400px;
  width: 100%;
  background-image: url(../img/cooking.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}
.cuisines {
  margin-top: 450px;
}
/* .responsive {
  width: 100%;
  height: auto;
} */
.body-signIn-register {
  background-color: gainsboro;
}
/* ------------------------------------------------------- Recipe-Details */
.img-recipe {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.recipe-info {
  width: 100%;
  display: block;
  background: #60a59f;
  height: 40px;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
.recipe-info i {
  font-size: 1.625rem;
}
.diets i {
  font-size: 2.5rem;
}
/* ------------------------------------------------------- Sigh-In */
.form-container {
  max-width: 350px;
  margin: 0 auto;
}
.form-container button {
  width: 100%;
}
.close-icon-container {
  padding: 40px;
  float: right;
}
.close-icon-container .close-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  stroke: #fff;
}
.close-button {
  height: 120px;
}
/* --------------------- overwrite bootstrap */
.recipe-form {
  width: 700px;
}
/* --------------------- overwrite bootstrap */
.container-fluid {
  margin-left: 0px;
  padding-left: 0px;
}
.navbar-color {
  background-color: #61a5a0;
}
.navbar-light .navbar-brand {
  color: #f8f9fa;
}
.jumbotron {
  position: relative;
  background-color: hsla(0, 0%, 0%, 0.39);
  background-position: center;
  display: block;
  margin: 0 auto;
  width: 500px;
}

/* -- https://codepen.io/cbracco/pen/qnduh -- */

/**
 * Circle Styles
 */

.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #222;
  text-align: center;
}

.circle:after {
  display: block;
  padding-bottom: 60%;
  width: 60%;
  height: 0;
  border-radius: 50%;
  background-color: #fff;
  content: "";
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 5px rgba(8, 8, 8, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(8, 8, 8, 0.25);
  box-shadow: 0 1px 5px rgba(8, 8, 8, 0.25);
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 480px) {
  .circle__content {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 1em;
  }
}
