h1 {
    font-size: 1.875em;
}

img.on-inview {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 10px;
}

.slick-prev:before, .slick-next:before {
    color: #383b3f
}
/* --------------------- all-recipes */
.center-text {
    text-align: center;
}
.recipes {
    position: relative;
}
.img-hero {
    position: absolute;
    height: 400vh;
    width: 100vw;
    background-image: url(../img/cooking.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cuisines {
    margin-top: 430px;
}
.responsive {
    width: 100%;
    height: auto;
  }
.body-signIn-register {
    background-color: gainsboro;
}
/* --------------------- overwrite bootstrap */
.navbar-color {
    background-color: #61a5a0;
    
}
.navbar-light .navbar-brand {
    color: #f8f9fa;
}
.jumbotron {
    position: relative;
    background-color: hsla(0, 0%, 0%, 0.39);
    background-position: center;
    float: right;
    margin-top: 200px;
    margin-right: 300px;
    padding: 30px 50px;
    
}
.btn-color {
    background-color: #61a5a0; 
    color: #f8f9fa;
}


