{% include 'base.html' %} {% include 'includes/_nav.html' %} 

{% block content %} 

<div class="container mt-5 mb-5 mx-auto d-block">
    <h1 class="text-center mb-5">Add Recipe</h1>
    <form action="" enctype="multipart/form-data" method="POST" class="recipe-form w-100">
        <div class="row">
            <!-- ADD CUISINES LIST SELECTION-->
            <div class="col">
                <div class="form-group">
                    <p>Cuisines</p>
                    <select class="d-block selectpicker" id="cuisines_type" name="cuisines_list" aria-label="Select Cuisine(s)" title="Please Select" required>
                        <option class="bs-title-option d-none" value=""></option>
                        {% for select in option_cuisines %}
                            <option value="{{ select.cuisine_type }}">{{ select.cuisine_type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- ADD ALLERGEN LIST SELECTION-->
            <div class="col">
                <div class="form-group">
                    <p>Allergen</p>
                    <select class="d-block selectpicker" id="allergen_type" name="allergen_list" aria-label="Select Allergen(s)" multiple data-selected-text-format="count" data-max-options="4" title="Please Select" required>
                        <option class="bs-title-option d-none" value=""></option>
                        {% for select in option_allergens %}
                            <option value="{{ select.allergen_type }}">{{ select.allergen_type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- ADD MEAL TYPE LIST SELECTION-->
            <div class="col">
                <div class="form-group">
                    <p>Meal Type</p>
                    <select class="d-block selectpicker" id="meal_type" name="meal_type_list" aria-label="Select Meal Type(s)" multiple data-selected-text-format="count" data-max-options="4" title="Please Select" required>
                        <option class="bs-title-option d-none" value=""></option>
                        {% for select in option_meals %}
                            <option value="{{ select.meal_type |capitalize  }}">{{ select.meal_type |capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- ADD DIETS LIST SELECTION-->
            <div class="col">
                <div class="form-group">
                    <p>Diet Label</p>
                    <select class="d-block selectpicker" id="diet_type" name="diet_type_list" aria-label="Select diet(s)" multiple data-selected-text-format="count" data-max-options="4" title="Please Select" required>
                        <option class="bs-title-option d-none" value=""></option>
                        {% for select in option_diets %}
                            <option value="{{ select.diet_type }}">{{ select.diet_type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
        </div>
        <div class="form-group mt-5">
            <label for="recipe">Recipe Name</label>
            <input type="text" class="form-control" id="recipe" name="recipe_name" placeholder="" aria-describedby="recipe_name" required />
            <input type="hidden" id="user_recipe" name="user_recipe" value="{{ session['username'].title() }}" />
        </div>
        
        <div class="form-group">
            <label for="recipe_image">Recipe Image</label>
            <input type="file" class="form-control-file" name="recipe_image" id="recipe_image" >
        </div>
          
        <div class="row mt-4">
            <div class="col">
                <label for="prep">Preparation Time:</label>
                <input type="number" id="prep" name="prep_time" min="1" max="120" aria-describedby="prep_time"  required />
            </div>
            <div class="col">
                <label for="quantity">Serves:</label>
                <input type="number" id="quantity" name="serves" min="1" max="25" required />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col ingredients" id="ingredients">
                <label>Ingredients</label> 
                <input type="text" class="form-control mt-2" id="add_ingredients1" name="add_ingredients" placeholder="add ingredient" aria-describedby="ingredients" required />
                <input type="text" class="form-control mt-2" id="add_ingredients2" name="add_ingredients" placeholder="add ingredient" aria-describedby="ingredients" required />
                <div class="add-more-ingredients">
                    <a class="btn-more btn mt-3 add_ingredients"> <span> <i class="icofont-plus-circle"></i> Add more </span> </a>
                </div>
            </div>
            <div class="col instructions" id="instructions">
                <label>Instructions</label>
                <input type="text" class="form-control mt-2" id="add_instructions1" name="add_instructions" placeholder="add instruction" aria-describedby="instructions" required />
                <input type="text" class="form-control mt-2" id="add_instructions2" name="add_instructions"  placeholder="add instruction" aria-describedby="instructions" required />
                <div class="add-more-instructions">
                    <a class="btn-more btn mt-3 add_instruction"> <span> <i class="icofont-plus-circle"></i> Add more </span> </a>
                </div>
            </div>
        </div>
        <div class="add-recipes mt-5 mx-auto">
            <button class="btn_add_recipes btn btn-color" value="submit"> Add Recipe </button>
        </div>
    </form>
</div>


{% include 'includes/_footer.html' %}

{% endblock %}