{% include 'base.html' %} {% block content %}
<div class="container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <a class="dropdown-item" href="{{url_for('')}}">Action</a>
            <a class="dropdown-item" href="{{url_for('')}}">Another action</a>
            <a class="dropdown-item" href="{{url_for('')}}">Something else here</a> -->
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Intolerances
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <a class="dropdown-item" href="{{url_for('')}}">Action</a>
            <a class="dropdown-item" href="{{url_for('')}}">Another action</a>
            <a class="dropdown-item" href="{{url_for('')}}">Something else here</a> -->
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Meal Type
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <a class="dropdown-item" href="{{url_for('')}}">Action</a>
            <a class="dropdown-item" href="{{url_for('')}}">Another action</a>
            <a class="dropdown-item" href="{{url_for('')}}">Something else here</a> -->
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            I don't know
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <a class="dropdown-item" href="{{url_for('')}}">Action</a>
            <a class="dropdown-item" href="{{url_for('')}}">Another action</a>
            <a class="dropdown-item" href="{{url_for('')}}">Something else here</a> -->
        </div>
    </div>
</div>

{% endblock %}
