{% include 'base.html' %} {% include 'includes/_nav.html' %} {% block content %}

<div class="container-fluid recipes">
    <div class="img-hero">
        <section class="jumbotron">
          <h2 class="text-center">Select filter </h2>
            <div class="row">
              
                <select class="mr-3 w-auto custom-select select_list" name="diet_list" >
                  <option selected> Diets</option>
                  {% for select in option_diets %}
                      <option value="{{ select.diet_type }}">{{ select.diet_type }}</option>
                  {% endfor %}
                </select>

                <select class="mr-3 w-auto custom-select select_list" id="allergen_type" name="allergen_list" aria-label="Select Allergen(s)">
                  <option selected> Allergens </option>
                  {% for select in option_allergens %}
                      <option value="{{ select.allergen_type}}">{{ select.allergen_type }}</option>
                  {% endfor %}
              </select>

                <select class="mr-3 w-auto custom-select select_list" id="meal_type" name="meal_type_list" aria-label="Select Meal Type(s)">
                  <option selected> Meals</option>
                  {% for select in option_meals %}
                      <option value="{{ select.meal_type}}">{{ select.meal_type }}</option>
                  {% endfor %}
                </select>

                <select class="w-auto custom-select select_list" id="cuisines_type" name="cuisines_list" aria-label="Select Cuisine(s)">
                  <option selected> Cuisines </option>
                  {% for select in option_cuisines %}
                      <option value="{{ select.cuisine_type}}">{{ select.cuisine_type }}</option>
                  {% endfor %}
              </select>
                
              </div>
        </section>
    </div>
</div>
  

<!-- Cuisines cards -->
<div class="container cuisines">
  <section>
    <div id="results">
      <h1 id="title-results" class="mt-4 mb-4 center-text">All Recipes</h1>

      <div class="container-fluid"> 
        <div class="row">    
          <div class="card-deck results">
            {% for random in random_recipes %}
            <div class="col-md-3">
              <div class="card">
                <img src="{{ random.image }}" class="on-inview " alt="..." />
                <div class="card-body">
                  <a
                  href="{{url_for('recipe_details', recipe_id=random.id)}}" class="title-padding">{{ random.title }}</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% if 'username' in session %}
          <h1 class="mt-4 mb-4 center-text">Recipes by {{ session['username'].title() }}</h1>
          <div class="container">
            <div class="row">
              {% for r in user_added_recipes %}
                  <div class="col-md-3">
                    <div class="card-deck results">
                      <div class="card text-center">
                        <img src="../static/img/No_image_available.svg.png" class="img-responsive w-100" alt="{{r.recipe_name}}" />
                        <div class="card-body">
                          <a href="#" class="title-padding">{{r.recipe_name}}</a>
                          <p class="small mt-2">{{r.cuisines_list}}</p>
                        </div>
                      </div>
                  </div>
                  </div>
              {% endfor %}
            </div>
          </div>

      </div>
    </div>
      {% else %}
              <div></div>
      {% endif %}

     
  </section>
</div>



<!-- FOOTER -->
{% include 'includes/_footer.html' %}
    
{% endblock %}
