{% include 'base.html' %} {% include 'includes/_nav.html' %} {% block content %}

<div class="container-fluid recipes">
    <div class="img-hero">
        <section class="jumbotron">
          <div>
            <h2 class="text-center mb-4">Select filter </h2>
          </div>  
            <div class="row">

              <!-- FILTER MEAL TYPE LIST SELECTION-->
              <div class="col">
                <p>Diet Label</p>
                <select class="mr-3 w-auto custom-select select_list" name="diet_list" >
                  <option selected> Please select</option>
                  {% for select in option_diets %}
                      <option value="{{ select.diet_type }}">{{ select.diet_type }}</option>
                  {% endfor %}
                </select>
              </div>

              <!-- FILTER ALLERGEN LIST SELECTION-->
              <div class="col">
                <p>Allergen</p>
                <select class="mr-3 w-auto custom-select select_list" id="allergen_type" name="allergen_list" aria-label="Select Allergen(s)">
                  <option selected> Please select </option>
                  {% for select in option_allergens %}
                      <option value="{{ select.allergen_type}}">{{ select.allergen_type }}</option>
                  {% endfor %}
                </select>
              </div>

              <!-- FILTER MEAL TYPE LIST SELECTION-->
              <div class="col">
                <p>Meal Type</p>
                <select class="mr-3 w-auto custom-select select_list d-block" id="meal_type" name="meal_type_list" aria-label="Select Meal Type(s)">
                  <option selected> Please select </option>
                  {% for select in option_meals %}
                      <option value="{{ select.meal_type}}">{{ select.meal_type }}</option>
                  {% endfor %}
                </select>
              </div>

              <!-- FILTER CUISINES LIST SELECTION-->
              <div class="col">
                <p>Cuisines</p>
                <select class="w-auto custom-select select_list" id="cuisines_type" name="cuisines_list" aria-label="Select Cuisine(s)">
                  <option selected> Please select </option>
                  {% for select in option_cuisines %}
                      <option value="{{ select.cuisine_type}}">{{ select.cuisine_type }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
        </section>
    </div>
</div>
  

<!-- Cuisines cards -->
<div class="container cuisines">
  <section>
    <div id="results">
      <h1 id="title-results" class="mt-4 mb-4 center-text">All Recipes</h1>

      <div class="container-fluid"> 
        <div class="row">    
          <div class="card-deck">
            <div class="results"></div>
              {%if random_recipes%}
              <div class="container">
                <h1 id="title-results" class="mt-4 mb-4 center-text">Inspiration Recipes</h1>
              </div>
              {%endif%}
              {% for random in random_recipes %}
              <div class="col-md-3">
                <div class="card">
                  {% if random.image is defined and random.image | length > 0 %}
                      <img src="{{ random.image }}" class="on-inview " alt="{{ random.title }}" />
                    {% else %}
                      <img src="../static/img/No_image_available.png" class="img-responsive w-100" alt="Image Not Available" />
                  {% endif %}
                  
                  <div class="card-body">
                    <a href="{{url_for('recipe_details', recipe_id=random.id)}}" class="">{{ random.title }}</a>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>

        <!-- User recipe cards -->
        {% if 'username' in session %}
          <h1 class="mt-4 mb-4 center-text">Recipes by {{ session['username'].title() }}</h1>
          <div class="container">
            <div class="row">
              {% for r in user_added_recipes %}
                  <div class="col-md-3">
                    <div class="card-deck card-custom">
                      <div class="card text-center">
                        
                        {% if r.recipe_image is defined %}
                          <img src="{{r.recipe_image}}" class="img-responsive w-100" alt="{{r.recipe_image}}" />
                        {% else %}
                          <img src="../static/img/No_image_available.png" class="img-responsive w-100" alt="Image Not Available" />
                        {% endif %}
                        
                        <div class="card-body">
                          <a href="{{url_for('user_recipe_details', recipe_id=r._id)}}" class="">{{r.recipe_name |upper}}</a>
                          <p class="small mt-2">{{r.cuisines_list}}</p>
                        </div>
                      </div>
                  </div>
                  </div>
              {% endfor %}
            </div>
          </div>

      </div>
    </div>
      {% else %}
              <div></div>
      {% endif %}

     
  </section>
</div>

{% include 'includes/_footer.html' %}
    
{% endblock %}
