
{% include 'base.html' %} 
{% block styles %} 
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{% endblock %}
{% block content %}

<div class="container">
    {% for recipe in recipes %}
    <div class="card" style="width: 18rem;">
        <img src="{{recipe.image}}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">{{ recipe.title }}</p>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}