{% include 'base.html' %} {% include 'includes/_nav.html' %} {% block content %}

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-9">
      <h1 class="text-center mb-5">{{ details.title |capitalize }}</h1>
      <img alt="Responsive image" class="img-recipe" src="{{details.image}}">
    
      <!-- RECIPE INFO SECTION-->
      <section class="recipe-info">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-3">
                <p><i class="icofont-like"></i> {{ details.aggregateLikes }} likes</p>
              </div>
              <div class="col-3">
                <p><i class="icofont-clock-time"></i> Ready in {{ details.readyInMinutes }} min</p>
              </div>
              <div class="col-3">
                <p><i class="icofont-people"></i> {{ details.servings }} Servings</p>
              </div>
          
              {% if details.dishTypes %}
                <div class="col-3">
                  {% for dish in details.dishTypes%}
                  <p><i class="icofont-lunch"></i> {{ dish if dish is not none }} </p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </div>
  
    <!-- DIET TYPE SECTION-->
    <div class="col-md-3 text-center mt-4">
      <div class="diets">
        <h1 class="mb-3">Diets Type</h1>
        {% if details.diets %}
          {% for diets in details.diets %}
              <p>{{ diets if diets is not none }} </p>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
   
  <!-- INGREDIENTES SECTION-->
  <section class="ingredient">
    <h3 class="mb-4">Ingredients</h3>
    <hr>
      <div class="container">
        <div class="row">
          {% for d in details.extendedIngredients %}
            <div class="col-sm-6 col-md-2">
              <p class="text-center">{{d.amount|int}} {{d.unit}}</p>
              <img class="mx-auto d-block" src="https://spoonacular.com/cdn/ingredients_100x100/{{d.image}}" alt="">
              <p class="small text-center">{{d.originalName}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
  </section>

  <!-- EQUIPMENT SECTION-->
	<section class="equipment">
    <h3 class="mb-4">Equipment</h3>
    <hr>
      <div class="container">
        <div class="row">
          {% for instructions in details.analyzedInstructions %}
          {% set dup_id = [] %}
          {% for step in instructions.steps if step.equipment not in dup_id %}
           

            
              {% do dup_id.append(step.equipment) %}
              
              
              {% set step = dup_id %}
          
              {% print(dup_id )%}

              
            {% for equipment in step.equipment %}
          
           
              <div class="col-sm-6 col-md-2">
                <p class="text-center">{{equipment.name}}</p>
                <img class="mx-auto d-block" src="https://spoonacular.com/cdn/equipment_100x100/{{equipment.image}}" alt="">
              </div>
            {% endfor %}
          {% endfor %}
        {% endfor %}
        </div>
    </div>
  </section>
  
  <!-- INSTRUCTION SECTION-->
  <section class="instruction">
      <h3 class="mb-4">Instruction</h3>
      <hr>
      <ol>
        {% for instructions in details.analyzedInstructions %}
          {% for step in instructions.steps %}
            <li>{{ step.step }}</li>
          {% endfor %}
        {% endfor %}
      </ol>
  </section>

  <!-- WINE PAIRING SECTION-->
  <section class="wine-pairing">
    <div class="row">

      <div class="col-md-6 d-block">
        {% if details.winePairing.pairedWines %}
          <h3>Wine Pairing</h3>
          <hr>
        {% endif %}
        <div class="mt-4">
          {% for wines in details.winePairing.pairedWines %}
            {% if wines is not none %} 
              <p><i class="icofont-glass"></i> {{wines}}</p>
            {% endif %} 
          {% endfor %}
        </div>
        <div class="mt-3">
          {% if details.winePairing.pairedWines %}
            <p >{{details.winePairing.pairingText}}</p>
          {% endif %} 
        </div>
      </div>  

      <div class="col-md-6">
        {% for products in details.winePairing.productMatches %}
          {% if products is not none %} 
          <div class="border mt-5 px-3 py-3">
            <div class="row">
              <div class="col-3">
                <img class="img-responsive" src="{{products.imageUrl}}" alt="">
              </div>
              <div class="col-9 mt-3">
                <h5 class="mb-3">{{products.title}}</h5>
                <p class="mb-1">Description:</p>
                <p class="small"> {{products.description}} <a href="{{products.link}}">See product here</a></p>
              </div>
            </div>          
          </div> 
          {% endif %} 
        {% endfor %}
      </div>

    </div> 
	</section>
</div>

{% include 'includes/_footer.html' %}

{% endblock%}