{% include 'base.html' %} {% include 'includes/_nav-signIn.html' %} {% block
content %}

<body>
  <div class="container mt-5">
    <h1 class="text-center mb-5">Recipe.Title</h1>
    <img
      src="../static/img/cooking.jpg"
      class="img-recipe"
      alt="Responsive image"
    />
    <section class="recipe-info">
      <div class="row">
        <div class="col">
          <p><i class="icofont-like"></i> 54 likes</p>
        </div>
        <div class="col">
          <p><i class="icofont-clock-time"></i> Ready in 45 min</p>
        </div>
        <div class="col">
          <p><i class="icofont-people"></i> 6 Servings</p>
        </div>
        <div class="col">
          <p><i class="icofont-lunch"></i> Lunch</p>
        </div>
      </div>
    </section>
    <section class="diets text-center mt-4">
      <div class="row">
        <div class="col">
          <p><i class="icofont-chicken"></i> Primal</p>
        </div>
        <div class="col">
          <p><i class="icofont-fruits"></i> Vegetarian</p>
        </div>
        <div class="col">
          <p><i class="icofont-wheat"></i> Gluten-free</p>
        </div>
      </div>
    </section>
    <section class="ingredients mt-5">
      <h3>Ingredients</h3>
      <div class="row">
        <!-- <div class="col">
          <label for="quantity">Serves:</label>
          <input type="number" id="quantity" name="quantity" min="1" max="25" />
        </div> -->
        <div class="col">
          <p>
            <button
              class="btn btn-color"
              type="button"
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              grid
            </button>
            <button
              class="btn btn-color"
              type="button"
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              list
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card-group">
              <div class="card">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
              <div class="card">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
              <div class="card">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <p>
            <button
              class="btn btn-color"
              type="button"
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              metric
            </button>
            <button
              class="btn btn-color"
              type="button"
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              US
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div>
              <ol>
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="equipment mt-5">
      <h3>Equipment</h3>
      <div class="col">
        <p>
          <button
            class="btn btn-color"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            grid
          </button>
          <button
            class="btn btn-color"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            list
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
            labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
      </div>
    </section>
    <section class="instructions mt-5">
      <h3>Instruction</h3>
      <ol>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
      </ol>
    </section>
  </div>
</body>

{% endblock%}
