{% include 'base.html' %} {% include 'includes/_nav-signIn.html' %} {% block content %}

<div class="container mt-5 mb-5">
	<h1 class="text-center mb-5">{{ details.title }}</h1><img alt="Responsive image" class="img-recipe" src="{{details.image}}">
	<section class="recipe-info">
		<div class="row">
			<div class="col">
				<p><i class="icofont-like"></i> {{ details.aggregateLikes }} likes</p>
			</div>
			<div class="col">
				<p><i class="icofont-clock-time"></i> Ready in {{ details.readyInMinutes }} min</p>
			</div>
			<div class="col">
				<p><i class="icofont-people"></i> {{ details.servings }} Servings</p>
      </div>
    
      {% if details.dishTypes %}
        {% for dish in details.dishTypes%}
        <div class="col"></div>
          <p><i class="icofont-lunch"></i> {{ dish if dish is not none }} </p>
        </div>
        {% endfor %}
      {% endif %}
       
		</div>
	</section>
	<section class="diets text-center mt-4">
		<div class="row">
      {% if details.diets %}
        {% for diets in details.diets %}
          <div class="col">
            <p><i class="icofont-chicken"></i> {{ diets if diets is not none }} </p>
          </div>
        {% endfor %}
      {% endif %}
		</div>
  </section>
  <section class="ingredients mt-5">
		<h3 class="mb-4">Ingredients</h3>
		<div class="container">
        
          <div class="row">

            {% for d in details.extendedIngredients %}
              <div class="col-sm-6 col-md-2">
                <p class="text-center">{{d.amount|int}} {{d.unit}}</p>
                <img class="mx-auto d-block" src="https://spoonacular.com/cdn/ingredients_100x100/{{d.image}}" alt="">
                <p class="small text-center">{{d.originalName}}</p>
              </div>
            {% endfor %}

        
        </div>
      </div>

	</section>
	<section class="equipment mt-5">
    <h3 class="mb-4">Equipment</h3>
    <div class="container">
          <div class="row">

            {% for instructions in details.analyzedInstructions %}
              {% for step in instructions.steps %}
                {% for equipment in step.equipment %}
                  <div class="col-sm-6 col-md-2">
                    <p class="text-center">{{equipment.name}}</p>
                    <img class="mx-auto d-block" src="https://spoonacular.com/cdn/equipment_100x100/{{equipment.image}}" alt="">
                  </div>
                {% endfor %}
              {% endfor %}
            {% endfor %}

          </div>
        </div>
	</section>
	<section class="mt-5">
      <h3 class="mb-4">Instruction</h3>
      {% for instructions in details.analyzedInstructions %}
        {% for step in instructions.steps %}
          <p>{{ step.number }}. {{ step.step }}</p>
        {% endfor %}
      {% endfor %}
  </section>
  
  <section class="mt-5">
    {% if details.winePairing.pairedWines %}
      <h3>Wine Pairing</h3>
    {% endif %} 

    <div class="mt-4">
      {% for wines in details.winePairing.pairedWines %}
        {% if wines is not none %} 
          <p><i class="icofont-glass"></i> {{wines}}</p>
        {% endif %} 
      {% endfor %}
    </div>
    
    <div class="mt-3">
      {% if details.winePairing.pairedWines %}
        <p >{{details.winePairing.pairingText}}</p>
      {% endif %} 
    </div>

    <div class="container mt-5">
      
      {% for products in details.winePairing.productMatches %}
        {% if products is not none %} 
        <div class="border">
        <h4 class="text-center mt-2">{{products.title}}</h4>
          <img class="wine-img" src="{{products.imageUrl}}" alt="">
          
          <h5>Description:</h5>
          <p> {{products.description}} <a href="{{products.link}}">See product here</a></p> 
        </div> 
        {% endif %} 
      {% endfor %}
      
    </div>
	</section>
</div>

<!-- FOOTER -->
{% include 'includes/_footer.html' %}

{% endblock%}