{% include 'base.html' %} {% include 'includes/_nav.html' %} {% block content %}

<div class="container mt-5 mb-5">
 {{user_recipe}}
  <h1 class="text-center mb-5">{{ user_recipe.recipe_name}}</h1><img alt="Responsive image" class="img-recipe" src="#">


	<section class="recipe-info">
		<div class="row">
			<div class="col">
				<p><i class="icofont-clock-time"></i> Ready in {{ user_recipe.prep_time }} min</p>
			</div>
			<div class="col">
				<p><i class="icofont-people"></i> {{ user_recipe.serves }} Servings</p>
      </div>
		</div>
  </section>
  
	<section class="diets text-center mt-4">
		<div class="row mt-5">

      

		</div>
  </section>

  <!-- INGREDIENTES SECTION-->
  <section class="ingredient">
    <h3 class="mb-4">Ingredients</h3>
    <hr>
      <div class="container">
        <div class="row">
          
            <div class="col-sm-6 col-md-2">
              <p class="text-center">{{user_recipe.add_ingredients}} </p>
              <!-- <img class="mx-auto d-block" src="https://spoonacular.com/cdn/ingredients_100x100/{{}}" alt=""> -->
              
            </div>
          
        </div>
      </div>
  </section>

  
  <!-- INSTRUCTION SECTION-->
  <section class="instruction">
      <h3 class="mb-4">Instruction</h3>
      <hr>
 
  </section>

  
</div>

<!-- FOOTER -->
{% include 'includes/_footer.html' %}

{% endblock%}