{% include 'base.html' %} {% include 'includes/_nav.html' %} {% block content %}

<div class="container mt-5 mb-5">
  <h1 class="text-center mb-5">{{ user_recipe.recipe_name}}</h1><img alt="Responsive image" class="img-recipe" src="/static/img/No_image_available.svg.png">

  <!-- RECIPE INFO SECTION-->
	<section class="recipe-info">
		<div class="row">
			<div class="col">
				<p><i class="icofont-clock-time"></i> Ready in {{ user_recipe.prep_time }} min</p>
			</div>
			<div class="col">
				<p><i class="icofont-people"></i> {{ user_recipe.serves }} Servings</p>
      </div>
      <div class="col">
        <p><i class="icofont-lunch"></i> {{ user_recipe.meal_type_list}} </p>
      </div>
    </div>
  </section>

  <!-- DIET TYPE SECTION-->
	<section class="diets text-center mt-4">
    <div class="col bg-diet">
      <p> {{ user_recipe.diet_type_list }} </p>
    </div> 
  </section>

  <!-- INGREDIENTES SECTION-->
  <section class="ingredient">
    <h3 class="mb-4">Ingredients</h3>
    <hr>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-2">
            <ul>
              {% for list in user_recipe.add_ingredients %}
                <li>{{list}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
  </section>

  
  <!-- INSTRUCTION SECTION-->
  <section class="instruction">
    <h3 class="mb-4">Instruction</h3>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-2">
          <ol>
            {% for list in user_recipe.add_instructions %}
              <li>{{list}}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </section>
  
  <div class="mt-5">
    <button type="button" class="btn btn-color mr-3">Edit</button>
    <a href="#"><i class="icofont-bin lead color-bin"></i></a>
  </div>
</div>

<!-- FOOTER -->
{% include 'includes/_footer.html' %}

{% endblock%}